<div class="content-box">
    <div class="content-box-title">
        Create New Article
        <a href="#" style="float: right">
            <img src="{{ STATIC_URL }}images/icons/icon-help-sm.png" width="20"
                 align="center"
                 title="Click to get help about this window"
                 onclick="toggleHelp(event, 'widget', 'create-article'); return false;"/>
        </a>
    </div>
    <div class="content-box-contents">
        <!-- TEST CODE (does not submit correctly) -->
        Create a new article. You will be listed as the first editor.
        <form action="/test/" method="post"/>
        	{{ view_objects.create_article.form }}
        	<br/><input type="submit" value="Edit new article"/>
        </form>
        Notes:<br/>
        <ul>
        	<li>The title should be 250 characters or less.</li>
        	<li>The category should be 250 characters or less.</li>
        	<li>Separate tags with commas if more than one is specified.</li>
        </ul>
    </div>
</div>
